body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

.mainWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.mainWrapper .leftContainer {
    width: 600px;
    height: 600px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 300px solid #959595;
    box-sizing: border-box;
    border-top-color: #4f4f4f;
    border-right-color: #4f4f4f;
}

.mainWrapper .rightContainer {
    flex-basis: 40%;
    height: 600px;
    background-color: #ddd;
}

form,
.showStatus {
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
    margin: 17px 13px;
    font-size: 11px;
    box-shadow: 3px 3px 4px rgb(143 143 143 / 30%);
    color: #7c7c7c;
    font-style: italic;display: flex;
    flex-direction: column;
}

input[type="text"] {
    outline: none;
    border: none;
    border-bottom: 1px solid #aeaeae;
    padding: 15px 3px 2px 3px;
    margin-bottom: 10px;
}

#submitButton.disabled {
    background-color: #838383;
}

#submitButton {
    width: 100%;
    outline: none;
    border: none;
    background: #156cd0;
    border-radius: 3px;
    padding: 10px;
    color: #fff;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

#submitButton:hover {
    background: #1057a8;
}

.userlistCont>p {
    padding: 12px 0 0 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #4e4e4e;
}

.innerContainer {
    width: 250px;
    height: 250px;
    position: absolute;
    font-size: 30px;
    color: #fff;
}

.topRight {
    position: absolute;
    right: 0;
}

.bottomLeft {
    position: absolute;
    bottom: 0;
    left: 0;
}

.userListWrapper {
    height: calc(600px - 225px);
    overflow-y: auto;
}